
name: github pages

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    #runs-on: self-hosted
    container:
      image: uazhlt/ling-582-course-blog
      env: 
        PREFIX_PATHS: true
      volumes:
        - ${{ github.workspace }}:/app
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Build site
        run: publish.sh
      - name: Deploy
        if: github.ref == 'refs/heads/main'
        # see https://github.com/peaceiris/actions-gh-pages#%EF%B8%8F-gatsby
        uses: peaceiris/actions-gh-pages@v4
        with:
          # see https://docs.github.com/en/free-pro-team@latest/actions/reference/authentication-in-a-workflow#about-the-github_token-secret
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
          user_name: 'github-actions[bot]'
          user_email: 'github-actions[bot]@users.noreply.github.com'
          commit_message: ${{ github.event.head_commit.message }}
